<h1>Welcome, <%= account_firstname %>!</h1>
<p>We're glad to have you back.</p>
<p>What would you like to do today?</p>
<ul>
  <li><a href="/inv/add-classification">Add a New Classification</a></li>
  <li><a href="/inv/add-inventory">Add a New Inventory Item</a></li>
  <li><a href="/account/logout">Logout</a></li>
</ul>
