<h1>Login</h1>
<form class="login-form">
  <div>
    <label>Email Address:</label>
    <input class="login-input" type="email" />

    <label>Password</label>
    <input class="login-password" type="password" />
    <p>
      Passwords must be minimum of 12 characters and include 1 capital letter, 1
      number and 1 special character.
    </p>
    <button>Login</button>
  </div>
  <p>No account? <a href="/account/register">Sign-up</a></p>
</form>
