<!-- <% if (!title) { res.redirect('/'); return; } %> -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/management.css" />
  </head>
  <body>
    <h1 id="page-title">Inventory Management</h1>

    <nav id="main-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/inv/add-classification" class="nav-link"
            >Add New Classification</a
          >
        </li>
        <li class="nav-item">
          <a href="/inv/add-inventory" class="nav-link">Add New Inventory</a>
        </li>
      </ul>
    </nav>

    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items.</p>

    <%- classificationList %>
    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>

    <script src="/js/inventory.js"></script>
  </body>
</html>
