<% if (!title) { res.redirect('/'); return; } %>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/management.css" />
  </head>
  <body>
    <h1 id="page-title">Inventory Management</h1>

    <nav id="main-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/inv/add-classification" class="nav-link"
            >Add New Classification</a
          >
        </li>
        <li class="nav-item">
          <a href="/inv/add-inventory" class="nav-link">Add New Inventory</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
